:root {
    --brown: #3a210b;
    --brown-light: #89512a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

main {
    background-image: url("@/assets/SVGs/main_screen.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    position: relative;
}

.modal-background {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 8;
}

.modal {
    background-image: url("@/assets/Images/wood-modal-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem;
    aspect-ratio: 5/3;
    transition: .5s;
    z-index: 3;
}

.title {
    color: var(--brown);
    font-size: 3rem;
}

.btn {
    text-transform: uppercase;
    border: 1px solid var(--brown);
    border-radius: .5rem;
    padding: 1rem 2rem;
    font-weight: bolder;
    color: white;
    background-color: var(--brown-light);
    transition: .4s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--brown);
    transform: translateY(-5px);
}

.fade-out .modal {
    animation: fadeout linear .5s 1 forwards;
}

@keyframes fadeout {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}

.character {
    position: absolute;
    bottom: 20%;
    left: calc(50% - 50px);
    width: 120px;
    height: 200px;
    transition: transform .4s, opacity .4s;
    opacity: 0;
    object-fit: cover;
    object-position: 0%;
}

.show-char {
    opacity: 1;
    transform: translateY(40px);
}

.face-left {
    transform: translateY(40px) rotateY(180deg);
}

.full-btn {
    position: fixed;
    top: 10%;
    right: 10%;
    width: 50px;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    border: none;
}

.full-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-action {
    position: fixed;
    width: 50px;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    border: none;
}

.btn-action img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-close {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 50px;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    border: none;
}

.btn-close img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

